.price {
    font-size: 24px;
    font-weight: bold;
    color: #b12784;
}

.strikethrough {
    text-decoration: line-through;
    color: #767676;
    margin-left: 8px;
}

.price-range {
    color: #565959;
}